{#
/**
 * @file
 * Default theme implementation to display a community post (preview DM).
 *
 * Available varaibles:
 * - post: the full Opigno post entity;
 * - id: the post ID;
 * - author: the rendered author entity;
 * - author_link: the url of the author entity;
 * - author_name: the author displayed name;
 * - author_picture: the author account image;
 * - text: the post text;
 * - created: the post creation timestamp;
 * - add_comment_link: the link to trigger the "Create comment" form opening;
 * - comments: the block with the comment form and all post comments;
 * - is_pinned: if the post is pinned or not;
 * - is_last_viewed: if the post is the last one that was viewed by the user;
 * - like_link: the link to like/dislike the post;
 * - like_count_link: the link to display the list of people who liked the post;
 * - attachment: the post shared attachment (training/badge/certificate);
 * - url: the post view page url;
 * - is_page: whether the current page is a post view page or not;
 * - community_name: the name of the related community;
 * - community_url: a link to the community-related url;
 * - is_community_page: whether the current page is a related community page.
 */
#}

{% set post_text = text|render|striptags|trim %}

<a href="{{ url }}" {{ attributes.addClass('btn', 'post-preview') }}>
  <div class="comment-item__user">
    <div class="profile-pic">
      {{ author_picture }}
    </div>
    <div class="comment-item__user-info">
      <div class="comment-item__name">
        {{ community_name }}
      </div>
      <div class="name">
        <span>{{ author_name }}</span>
        -
        <time class="comment-item__date">{{ created|format_date('post_date') }}</time>
      </div>
    </div>
  </div>
  <div class="comment-item__body">
    {{ post_text|length > 60 ? post_text|slice(0, 60) ~ '...' : post_text }}
  </div>
</a>
